@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.2 0.06 274.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2 0.06 274.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2 0.06 274.8);
  --primary: oklch(50.89% 0.16 236.58);
  --primary-foreground: oklch(0.98 0.01 210);
  --secondary: oklch(65% 0.15 30);
  --secondary-foreground: oklch(10% 0.02 30);
  --muted: oklch(0.95 0.02 210);
  --muted-foreground: oklch(0.6 0.05 235.4);
  --accent: oklch(0.95 0.02 210);
  --accent-foreground: oklch(0.25 0.08 274.8);
  --destructive: oklch(0.67 0.22 25);
  --destructive-foreground: oklch(0.98 0.01 210);
  --border: oklch(0.88 0.04 234.3);
  --input: oklch(0.88 0.04 234.3);
  --ring: oklch(0.65 0.2 258);
  --chart-1: oklch(0.7 0.22 45);
  --chart-2: oklch(0.55 0.16 173);
  --chart-3: oklch(0.4 0.12 197);
  --chart-4: oklch(0.75 0.18 90);
  --chart-5: oklch(0.78 0.24 80);
}

.dark {
  --background: oklch(0.2 0.06 274.8);
  --foreground: oklch(0.98 0.01 210);
  --card: oklch(0.2 0.06 274.8);
  --card-foreground: oklch(0.98 0.01 210);
  --popover: oklch(0.2 0.06 274.8);
  --popover-foreground: oklch(0.98 0.01 210);
  --primary: oklch(0.7 0.22 250);
  --primary-foreground: oklch(0.25 0.08 274.8);
  --secondary: oklch(0.8 0.15 60);
  --secondary-foreground: oklch(0.2 0.05 60);
  --muted: oklch(0.3 0.1 250);
  --muted-foreground: oklch(0.7 0.06 235);
  --accent: oklch(0.3 0.1 250);
  --accent-foreground: oklch(0.98 0.01 210);
  --destructive: oklch(0.35 0.15 25);
  --destructive-foreground: oklch(0.98 0.01 210);
  --border: oklch(0.3 0.1 250);
  --input: oklch(0.3 0.1 250);
  --ring: oklch(0.55 0.2 244.3);
  --chart-1: oklch(0.6 0.2 220);
  --chart-2: oklch(0.5 0.18 160);
  --chart-3: oklch(0.65 0.22 30);
  --chart-4: oklch(0.7 0.2 280);
  --chart-5: oklch(0.65 0.22 340);
}

@layer base {
  html,
  body {
    font-family: var(--font-poppins), sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-playfair-display), serif;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  p {
    @apply text-sm md:text-base;
  }
  .wrapper__wide {
    @apply max-w-[1600px] mx-auto;
  }
  .wrapper {
    @apply w-11/12 max-w-[1600px] lg:w-10/12 mx-auto;
  }
  article ul {
    @apply ml-4 my-4 space-y-2;
  }
  article h2 {
    @apply font-medium mt-8 mb-4 text-2xl;
  }
}
