@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@layer components {
  body {
    @apply font-Roboto;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-Lora;
  }

  p {
    @apply font-Roboto;
  }
  .btn-contained {
    @apply bg-secondary cursor-pointer hover:bg-secondaryDark inline-flex items-center justify-center w-auto h-12 px-6  font-medium tracking-wide text-white transition duration-200 rounded shadow-md  focus:outline-none;
  }
  .btn-text {
    @apply cursor-pointer hover:text-secondary hover:underline hover:underline-offset-8;
  }
}
.slick-dots {
  bottom: unset !important;
  padding: 40px 50px;
}
.slick-dots li {
  margin: 0 4px !important;
}
.slick-dots li button::before {
  font-size: 20px;
  color: #0972b1;
}
.slick-dots li.slick-active button::before {
  color: #0972b1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
